.modules {
    display: flex;
    flex-direction: row;
    flex: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px;

    
}

.module-cards {
    margin: 20px;
    width: 180px;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    img {
        width: 120px;
        margin-bottom: -3px;
    }
    
    h3 {
        padding: 10px;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 10px;
        background: rgb(31,31,31)
    }
}